body
{
    background-color : lightgray;
}
container{
    display: block;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 40px;
}
header {
    padding: 5px;
}
header p{
    font-style: italic;
    font-size: 20px;
}
h1{
    color: darkblue;
}
h2{

}

th {
    padding: 5px;
    text-align: right;
    padding-left: 20px;
}
td {
    padding: 5px;
    text-align: left;
    padding-left: 20px;
}